body{
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #f5f5f5;
}

.container {
  margin: 0 auto;
  width: 1400px;
  background: #ffffff;
  padding: 125px;
}

.blok-images {
  margin-top: 30px;
  padding: 379px 680px 40px 40px;
  background-repeat: no-repeat;
  background-image: url('../resources/images1.png');
}

.image-text {
  width: 430px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

h1 {
  max-width: 956px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 150px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  letter-spacing: -0.03em;
}

p.studion {
  height: auto;
  width: 1048px;
  margin-top: 30px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  text-align: left;
  letter-spacing: -0.03em;
}

a {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: -0.03em;
  margin-top: 30px;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #AD1818;
  color: #ffffff;
}