html {
  scroll-behavior: smooth;
}

body{
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #f5f5f5;
}

.container {
  margin: 0 auto;
  width: 1400px;
  background: #ffffff;
  padding: 0 125px;
}

.nav-container {
  padding-top: 33px;
  width: 1151px;
  display: flex;              
  justify-content: space-between; 
  align-items: center;        
  margin: 33px auto 70px;    
  text-align: left;           
}

.nav-logo {
  display: inline-block;
  
}

.logo {
  width: 127px;
  height: 22px;
}

.nav-link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  padding-left: 60px;
}

.nav-link:hover {
  opacity: 0.5;
  color: #AD1818;
}

a {
  text-decoration: none;
  color: #121212;
}

.blok-images {
  margin-top: 30px;
  padding: 379px 680px 40px 40px;
  background-repeat: no-repeat;
  background-image: url('../resources/images1.png');
}

.image-text {
  width: 430px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

h1 {
  max-width: 956px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 150px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  letter-spacing: -0.03em;
}

.h3 {
  padding-top: 15px;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  letter-spacing: -0.03em;
}

p.studion {
  height: auto;
  width: 1048px;
  margin-top: 30px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  text-align: left;
  letter-spacing: -0.03em;
}

.uslugi {
  margin-top: 30px;
  height: 67px;
  width: 255px;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  background: #AD1818;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  border-color: #AD1818;
}

.uslugi:hover {
  background-color: #ffffff;
  color: #AD1818;
  border-color: #AD1818;
}

.images-projects {
  height: 548px;
  width: 1150px;
  margin-bottom: 90px;
}

.text {
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.03em;
  padding-top: 15px;
}

.podrobnee {
  font-size: 20px;
  color:#AD1818;
  line-height: 100%;
  letter-spacing: 0.03em;
  padding-top: 15px; 
  padding-left: 2px;
}

.btn {
  height: 153px;
  width: 1150px;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  background: #ffffff;
  color: #AD1818;
  border-color: #AD1818;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-bottom: 151px;
}

.btn:hover {
  background-color: #AD1818;
  color: #ffffff;
}

.container-servis {
  background-color: black;
  width: 1400px;
  padding-bottom: 54px;
  margin: 0 auto;
}

.container-servis:nth-of-type(5) {
  padding-bottom: 150px;
}

.text-servis {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #fff;
  padding-top: 151px;
  padding-left: 131px;
  padding-bottom: 34px;
}


.container-img {
  height: 326px;
  width: 1149px;
  margin: 0 auto;
}



.img-servis {
  height: 270px;
  width: 1149px;
}

.servis-img-text {
  padding-top: 21px;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #fff;
}


.section {
  height: 717px;
  background-image: url(/resources/Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 1400px; /* Добавлена фиксированная ширина как у черного блока */
  margin: 0 auto; /* Центрирование как у черного блока */
  position: relative;
  }


.container-ful {
height: 82px;
width: 443px;
position: absolute; left: 125px; bottom: 60px;
}

.text-ful {
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
color: #fff;
}